.header__square-pic {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  /*border: 5px solid hotpink;*/
  z-index: -2;
  top: 64px;
  right: 0px;
  box-sizing: border-box;
  }
