/*--Заголовок таблицы--*/
@import url(../section-title/section-title.css);

/*--Подзаголовок таблицы--*/
@import url(../section-subtitle/section-subtitle.css);

@import url(../resources/__logo-zone/__logo-zone.css);

@import url(../resources/__link/__link.css);

@import url(../resources/__logo/__logo.css);

.resources {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 100px 0 217px;
}

