.feynman__link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  right: 48px;
  top: 50%;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  color: #2f80ed;
  transition: opacity 0.6s;
}

.feynman__link:hover {
  opacity: 0.5;
}
