.feynman {
  position: relative;
  display: flex;
  min-height: 890px;
  box-sizing: border-box;
  background-image: url(../../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 100px 0 0;
  background-color: #f2f2f2;
}
