/*--Заголовок таблицы--*/
@import url(../section-title/section-title.css);

/*--Подзаголовок таблицы--*/
@import url(../section-subtitle/section-subtitle.css);

/*--Карточки--*/
@import url(../techniques/cards/cards.css);

.techniques {
  /*border: 5px solid hotpink;*/
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 100px 0 0;
}
