@import url(../cards/__item/__item.css);

@import url(../cards/__image/__image.css);

@import url(../cards/__title/__title.css);

@import url(../cards/__description/__description.css);

.cards {
  /*border: 5px solid hotpink;*/
  width: 920px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}
