.cards__description {
  /*border: 5px solid hotpink;*/
  display: flex;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 16px 0 0;
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
}
